"*":
  "SFTP-deployment": {}
  "atom-html-preview":
    triggerOnSave: true
  "autoclose-html":
    forceBlock: [
      "article"
      "body"
      "section"
      "aside"
      "nav"
      "figure"
      "form"
      "tr"
      "td"
      "table"
      "div"
    ]
    forceInline: [
      "span"
      "br"
      "h1"
      "h2"
      "h3"
      "h4"
      "h5"
      "h6"
      "strong"
      "a"
      "p"
      "li"
      "select"
      "small"
      "option"
      "textarea"
      "mark"
    ]
    makNeverCloseeSelfClosing: false
    neverClose: [
      "img"
      "br"
      "input"
      "hr"
      "link"
    ]
  "autocomplete-plus":
    confirmCompletion: "enter"
    strictMatching: true
  core:
    disabledPackages: [
      "Remote-FTP"
      "SFTP-deployment"
      "wrap-guide"
      "Clean"
      "emmet"
      "remote-edit2"
    ]
    telemetryConsent: "no"
    themes: [
      "dark-flat-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    softWrap: true
  emmet: {}
  "exception-reporting":
    userId: "e96915bb-b891-fa48-6db6-2d0f94a1ef93"
  minimap: {}
  pigments: {}
  "preview-inline": {}
  "remote-edit":
    foldersOnTop: true
    followLinks: false
    rememberLastOpenDirectory: true
    showHiddenFiles: true
  "remote-sync": {}
  "spell-check":
    grammars: [
      ".html"
    ]
  "syntax-theme-auto-changer": {}
  welcome:
    showOnStartup: false
