"*":
  "exception-reporting":
    userId: "e96915bb-b891-fa48-6db6-2d0f94a1ef93"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "dark-flat-ui"
      "base16-tomorrow-dark-theme"
    ]
    disabledPackages: [
      "Remote-FTP"
      "SFTP-deployment"
    ]
  editor:
    invisibles: {}
    softWrap: true
  "remote-edit":
    foldersOnTop: true
    rememberLastOpenDirectory: true
    showHiddenFiles: true
  "SFTP-deployment": {}
  "remote-sync": {}
  "autoclose-html":
    forceInline: [
      "span"
      "br"
      "h1"
      "h2"
      "h3"
      "h4"
      "h5"
      "h6"
      "strong"
      "tr"
      "td"
      "a"
    ]
    neverClose: [
      "img"
      ""
    ]
  "preview-inline": {}
