@import url("http://fonts.googleapis.com/css?family=Lato:400,300,700|Roboto|Open+Sans:400,600,700,300");
@font-face {
  font-family: 'din_mediumregular';
  font-style: normal;
  src: url('../font/150817051957din_mediumregular.eot');
  src: local('din_mediumregular'), url('../font/150817051957din_mediumregular.eot') format('embedded-opentype'), url('../font/150817051957din_mediumregular.woff') format('woff');
}
@font-face {
  font-family: 'helvetica_neuereg';
  font-style: normal;
  src: url('../font/150817052128helvetica_neuereg.eot');
  src: local('helvetica_neuereg'), url('../font/150817052128helvetica_neuereg.eot') format('embedded-opentype'), url('../font/150817052128helvetica_neuereg.woff') format('woff');
}
@font-face {
  font-family: 'dinbold';
  font-style: normal;
  src: url('../font/150818050912dinbold.eot');
  src: local('dinbold'), url('../font/150818050912dinbold.eot') format('embedded-opentype'), url('../font/150818050912dinbold.woff') format('woff');
}
@font-face {
  font-family: 'din_blackregular';
  font-style: normal;
  src: url('../font/150818051053din_blackregular.eot');
  src: local('din_blackregular'), url('../font/150818051053din_blackregular.eot') format('embedded-opentype'), url('../font/150818051053din_blackregular.woff') format('woff');
}
body{margin: 0;padding: 0;}
.presi-wrapper{
  position: relative;
  width: 100%;
  margin: 0 auto 0px auto;
  background-color: #eee;
  border-bottom: 1px solid white;
  color: #878787;
  font-family: Arial;
  font-feature-settings: "'liga' 1";
  font-kerning: auto;
  font-style: normal;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0.025em;
  line-height: 1.75em;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  word-spacing: 0;
  padding: 5px 0;
  min-height: 75px;
}
.presi-wrapper p{
  max-width: 690px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  display: block;
  font-size: 12px;
  line-height: 18px;
}
  .presi-wrapper .logo{
    position: absolute;
    left: 100px;
    top: 10px;
  }
  @media (max-width: 1145px){
    .presi-wrapper .logo{
      position: relative;
      display: block;
      text-align: center;
      width: 105px;
      margin: 0 auto 10px auto;
      left: 0;
    }
  }

.presentation-prev{
  left: 0px;
}
.presentation-home{
  left:80px;
}
.presentation-next{
  right: 0px;
}
.presentation-next,.presentation-prev, .presentation-home{
  position: fixed;
  bottom: 0px;
  padding: 10px 20px;
  background: #eee;
  border: 2px solid white;
  color: white;
  font-family: 'din_mediumregular';
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.presentation-next:hover,.presentation-prev:hover, .presentation-home:hover{
  background-color: grey;
}
/*.presentation-next:visited,.presentation-prev:visited{
  background-color: #006554;
}*/
@media (max-width: 700px){
  .presi-wrapper,.presentation-next,.presentation-prev, .presentation-home{
    display: none;
    width: 0;
    visibility: hidden;
  }
}
